body {
    background: #000;
    color: #fff;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.appTitle {
    text-align: center;
}

/*stats bar and elements*/
.stats {
    display: inline-block;
    padding-right: 3%;
    margin-top: 15px;
}
.toggleDarknessBtn {
    color: #000;
    text-align: center;
    padding: 2px 5px 3px 5px;
}
.toggleDarknessBtn:hover {
    background: #9da0a4;
}

/*dungeon display*/
.gameboard {
    overflow: auto;
    height: 480px;
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: -1;
}
.gameboard::-webkit-scrollbar {
    display: none;
}
.darkness {
    position: absolute;
    z-index: 1;
}
.dark {
    background-color: #f06;
}
.light {
    background-color: #639;
}
/*.darkness::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
/*legend*/
.container {
    margin-left: 50%;
    transform: translate(-50%,0);
    width: 730px;
}
.legendRow {
    line-height: 25px;
}

.cell {
    height: 10px;
    width: 10px;
    border: 1px black solid;
    display: block;
    float: left;
}
.legendRow > .cell {
    display: inline-block;
    float: none;
}
/*---pop up window---*/
.notify-container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #26262c;
    z-index: 1;
}
.notify-item {
    width: auto;
    height: auto;
    margin: 25px 25px;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
}
.notify-item > p {
    font-family: 'Lora', serif;
    margin: 10px;
    opacity: .8;
}
.notify-title {
    font-weight: 700;
}