body {
    background: #000;
    color: #fff;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.appTitle {
    text-align: center;
}

/*stats bar and elements*/
.stats {
    display: inline-block;
    padding-right: 3%;
    margin-top: 15px;
}
.toggleDarknessBtn {
    color: #000;
    text-align: center;
    padding: 2px 5px 3px 5px;
}
.toggleDarknessBtn:hover {
    background: #9da0a4;
}

/*dungeon display*/
.gameboard {
    overflow: auto;
    height: 480px;
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: 15px;
    margin-bottom: 15px;
    /*position: relative;*/
    /*background-color: pink;*/
    z-index: -1;
    /*position: relative;*/
}
.gameboard::-webkit-scrollbar {
    display: none;
}
.darkness {
    /*overflow: auto;*/
    /*height: 480px;*/
    /*width: 600px;*/
    /*margin-left: 50%;*/
    /*transform: translate(-50%,0);*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    position: absolute;
    z-index: 1;
}
.dark {
    background-color: #f06;
}
.light {
    background-color: #639;
}
/*.darkness::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
/*legend*/
.container {
    margin-left: 50%;
    transform: translate(-50%,0);
    width: 730px;
}
.legendRow {
    line-height: 25px;
}

.cell {
    height: 10px;
    width: 10px;
    border: 1px black solid;
    display: block;
    float: left;
}
.legendRow > .cell {
    display: inline-block;
    float: none;
}
/*---pop up window---*/
.notify-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
}
.notify-item {
    width: 250px;
    margin: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    background-color: rgba(81, 163, 81, 0.4);
}
.notify-item > p {
    font-family: 'Lora', serif;
    margin: 10px;
    opacity: .8;
}
.notify-title {
    font-weight: 700;
}